@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F5F5F5;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}